<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentorMonkey</title>
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="hamburger"> 
    <img src="/img/hamburger.png" alt="an image showing three lines to represent a hamburger menu"class="ham-menu"/>
  </div>
  <nav>
    <a href="/"><h1 class="color-light headings-font margin-50">MentorMonkey</h1></a>
    {{#if logged_in}}
      <div>
        <a class="headings-font nav-links" href="/profile_form">My Profile</a>
        <a class="headings-font nav-links" href="/dashboard">My Dashboard</a>
      </div>
      <a href="/" id="logout"><img src="/img/logout.png" alt="a logout logo" class="icon margin-50"/></a>
      {{else}}
        <a href="/login"><img src="/img/login.png" alt="a login logo" class="icon margin-50"/></a>
      {{/if}}
  </nav>

  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
    
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script src="/js/hamburger.js"></script>
</body>
</html>

