<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MentorMonkey</title>
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <h1 class="font-white headings-font margin-50">mentorMonkey</h1>
    <img src="/img/login-icon.png" alt="a login logo" class="icon margin-50"/>
  </nav>
  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
    
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>
</html>