    <div class="container message-container">
        <div class="row">
            <div class="col">
                <ul id="chat-messages"></ul>
                    <form id="chat-form" action="">
                    <input id="chat-input" autocomplete="off" /><button>Send</button>
                    </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    
      var messages = document.getElementById('chat-messages');
      var form = document.getElementById('chat-form');
      var input = document.getElementById('chat-input');
    
      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });
    
      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>