<div class="chat-container mx-auto">
    <div>
    <h4 class="mt-4 text-center chat-header">Let's Talk Code!</h4>
    <hr class="hr-line"></hr>
    </div>
    <div class="message-big-box">
    <div id="message-container"></div>
    </div>
        <form id="send-container" class="chatform">
            <input type="text" class="chatinput" id="message-input">
            <button type="submit" id="send-button" class="text-center">Send</button>
        </form>
</div>

<script defer src="/socket.io/socket.io.js"></script>
<script defer src="./js/chat.js"></script>

