 <div class="container message-container">
        <div class="row">
            <div class="col">
                <ul id="chatmessages"></ul>
                    <form id="chatform" action="">
                    <input id="chatinput" autocomplete="off" /><button>Send</button>
                    </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>