<div class="display-flex justify-center">
    <div id="message-container"></div>
    <form id="send-container" class="chatform">
        <input type="text" class="chatinput" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>


<script defer src="/socket.io/socket.io.js"></script>
<script defer src="./js/chat.js"></script>