<div>
    <h3 class="mt-4 text-center">Let's Talk Code!</h3>
</div>

<div class="chat-container mx-auto">
    <div id="message-container" style="overflow-y:scroll;"></div>
    
    <form id="send-container" class="chatform" autocomplete="off">
        <input type="text" class="chatinput" id="message-input">
        <button type="submit" id="send-button" class="text-center">Send</button>
    </form>
</div>

<script defer src="/socket.io/socket.io.js"></script>
<script defer src="./js/chat.js"></script>

