
<div of="container message-container">
    <div class="row">
        <div class="col">
            <ul id="chatmessages"></ul>
            <form id="chatform" action="">
                <input id="chatinput" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>


<div class="display-flex justify-center">
    <div id="message-container">
        <ul id="chatmessages"></ul>
    <form id="send-container" class="chatform">
        <input type="text" class="chatinput" id="message-input">
        <button type="submit" id="send-button" class="text-center">Send</button>
    </form>
    </div>
</div>




<script src="/socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>

