<!--ready to mentor container-->
<div class="card border-0 mx-auto mb-4" style="width: 30rem;">
  <p class="center-text mb-0 mt-4">Ready to mentor?</p>
  <h3 class="mt-1">Update your status</h3>
  <!--Buttons to add and remove from mentor list-->
  <button type="submit" class="mx-auto btn blue-button" id="mentorBtn">Add me to the mentor list!</button>
  <button type="submit" class="mx-auto btn maroon-button mb-4" id="removeMentorBtn">Stop Mentoring</button>
 </div>

<!--cards for mentor's available container-->
<div class="container dashboard-container">
  <div class="card-block mt-4 ml-4">
    <div class="col">
      <p class="center-text mint-green">Need help with your code?</p>
      <h4 class="center-text mint-green">Choose a mentor</h4>
    </div>
  <div>
  
  <!--cards for each mentor-->
  <!--steph note: placeholder text should be removed when ready to test with actual data-->
  {{#each mentorProfiles as |profile|}}
  <div class="card-block">
    <div class="card-mentor border-0 mb-4" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title mb-4">{{name}}</h5>
        <h6 class="card-subtitle mb-2 maroon">About Me:</h6>
        <p class="card-text mb-4">{{about}}</p>
        <h6 class="card-subtitle mb-2 maroon">My Skills:</h6>
        <div class="skills">
          <p class="lang">{{languages}}</p>
        </div>
        <hr></hr>
        <button id="chooseMentor" class="btn maroon-button mt-4 mx-auto" data-id="{{id}}">Select Mentor</button>
      </div>
  </div>
</div>
{{/each}}
</div>

<script src="./js/dashboard.js"></script>