<!--ready to mentor container-->
<div class="card border-0 mx-auto mb-4" style="width: 30rem;">
  <p class="center-text mb-0 mt-4">Ready to mentor?</p>
  <h3 class="mt-1">Update your status</h3>
  <!--Buttons to add and remove from mentor list-->
  <button type="submit" class="mx-auto btn blue-button" id="mentorBtn">Add me to the mentor list!</button>
  <button type="submit" class="mx-auto btn maroon-button mb-4" id="removeMentorBtn">Stop Mentoring</button>
 </div>

<!--cards for mentor's available container-->
<div class="container dashboard-container justify-content-center">
  <div class="row">
    <div class="col-12 mt-4 ml-4 card-title">
        <p class="center-text mint-green">Need help with your code?</p>
        <h4 class="center-text mint-green mb-4">Choose a mentor online now!</h4>
    <div>
    
    <!--cards for each mentor-->
    <div class="col-12 card-block">
      {{#each mentorProfiles as |profile|}}
      <div class="card-mentor border-0 mb-4" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title mb-4">{{name}}</h5>
          <h6 class="card-subtitle mb-2 maroon">About Me:</h6>
          <p class="card-text mb-4">{{about}}</p>
          <h6 class="card-subtitle mb-2 maroon">My Skills:</h6>
          <div class="skills">
            <p class="lang">{{languages}}</p>
          </div>
          <hr></hr>
          <button class="btn maroon-button mt-4 mx-auto chooseMentor" data-id="{{id}}">Join chat</button>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>