
<!--Buttons to add and remove from mentor list-->
<btn class="btn btn-info btn-block" id="mentorBtn">Add me to the mentor list!</btn>

<btn class="btn btn-danger btn-block" id="removeMentorBtn">Stop Mentoring</btn>

<!--List of mentors-->
<h4>Choose a mentor:</h4>
{{#each mentorProfiles as |profile|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h5>{{name}}</h5>
    </div>
    <div class="col-md-8">
      <p>About Me:</p>
      <p>{{about}}</p>
      <p>My Skills:</p>
      <p>{{languages}}</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" data-id="{{id}}">Choose this mentor</button>
    </div>
  </div>
{{/each}}

<script src="./js/dashboard.js"></script>