<div class="card border-0 mx-auto" style="width: 30rem;">
  <h3 class="mt-4">Ready to mentor?</h3>
  <!--Buttons to add and remove from mentor list-->
  <button type="submit" class="mx-auto btn blue-button" id="mentorBtn">Add me to the mentor list!</button>
  <button type="submit" class="mx-auto btn maroon-button mb-4" id="removeMentorBtn">Stop Mentoring</button>
 </div>



<!--List of mentors-->
<h4>Choose a mentor:</h4>
{{#each mentorProfiles as |profile|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h5>{{name}}</h5>
    </div>
    <div class="col-md-8">
      <p>About Me:</p>
      <p>{{about}}</p>
      <p>My Skills:</p>
      <p>{{languages}}</p>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" data-id="{{id}}">Choose this mentor</button>
    </div>
  </div>
{{/each}}

<script src="./js/dashboard.js"></script>