<section> 
    <h2 class="text-center">
        Find a mentor
    </h2>
    <div>
        <img src="/img/computer-code.jpg" alt="an image of a laptop on a desk" class=""/>
    </div>

    <div class="testimonial" style="width: 38rem;">
        <p class="text-center">
            "mentorMonkey is great! I got stock on a coding assignment for my bootcamp and was able to get help right away." 
        <br>- Steph</br>
        </p>
    </div>
</section>