<section> 
    <h2 class="text-center">
        Find a mentor
    </h2>
    <div>
        <img src="/img/computer-code.jpg" alt="an image of a laptop on a desk" class=""/>
    </div>
    <div class="card border-0 mx-auto" style="width: 30rem;">
        <p class="text-width">
            "mentorMonkey is great! I got stock on a coding assignment for my bootcamp and was able to get help right away." 
        <br><br>- Steph, Atlanta, GA</br>
        </p>
    </div>
</section>