<!--Form to create a profile-->
<div class="mx-auto row col-12">
    <div class="form-container">
        <h3 class="text-center">Create a Profile:</h3>
        
        <form class="mx-auto form new-profile-form">
            <div class="form-container">
                <div class="row">
                    <label for="user-name" class="col-form-label">What would you like to be called?</label>
                </div>
                <div class="col-md-12">    
                    <input type="text" id="user-name" name="user-name" style="width:80%" placeholder="Name"></input>
                </div>
                <div class="row">
                    <label for="user-language" class="col-form-label">What languages or tools would you feel comfortable mentoring someone in?</label>
                </div>
                <div class="col-md-12">    
                    <input type="text" id="user-language" name="user-language" style="width:80%" placeholder="None, JavaScript, Python, Github, etc."></input>
                </div>
                <div class="row">
                    <label for="user-about" class="col-form-label">About:</label>
                </div>
                <div class="col-md-12">
                    <input type="text" id="user-about" name="user-about" style="width:80%" placeholder="Tell us about yourself!"></input>
                </div>
                <div class="row">
                    <button type="submit" class="btn button w-75">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>
