    
    <div class = "mx-auto row col-12">
        <div class="form-container">
        <h3 class="text-center">Create a Profile: <a href "/profile_form"></a></h3>
        
        <form class="mx-auto new-profile-form">
            <div class = "form-container">
            <div class="row">
                <label for="user-name" class="col-form-label">What would you like to be called?</label>
            </div>
            <div class="col-md-12">
                <input type="text" id="user-name" name="user-name" placeholder="Name"></input>
            </div>
            <div class = "row">
                <label for="user-language" class="col-form-label">What languages do you know?</label>
            </div>
            <div class="col-md-12">
                <input type="text" id="user-language" name="user-language" placeholder="JavaScript, Python, etc."></input>
            </div>
            <div class = "row">
                <label for="user-about" class="col-form-label">Tell us about yourself.</label>
            </div>
            <div class="col-md-4">    
                <input type="text" id="user-about" name="user-about" placeholder="About Me"></input>
                <button type="submit" class="btn button">Submit</button>
                <button type="edit" class="btn button">Edit My Profile</button>
           </div>
           </div>
       </form>
 </div>