<!--Form to create a profile-->
<div class = "row col-md-3">
    <div id="profile-container">
        <h3>Create a Profile:</h3>
        
        <form class="form new-profile-form">
            <div class = "form-profile row">
                <label for="user-name" class="col-form-label">What would you like to be called?</label>
            </div>
            <div class="col-sm-8">    
                <input type="text" id="user-name" name="user-name" placeholder="Name"></input>
            </div>
            <div class = "form-profile row">
                <label for="user-language">What languages or tools would you feel comfortable mentoring someone in?</label>
            </div>
            <div class="col-sm-8">    
                <input type="text" id="user-language" name="user-language" placeholder="None, JavaScript, Python, Github, etc."></input>
            </div>
            <div class = "form-profile row">
                <label for="user-about">About:</label>
            </div>
            <div class="col-sm-8">
                <input type="text" id="user-about" name="user-about" placeholder="Are you a student, manager, developer? Do you love UI/UX? Tell everyone a bit about who you are, it will help you get matched with a mentor or mentee!"></input>
            </div>
            <div class = "form-profile row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>