    <div class = "row col-md-3">
        <div id="profile-container"></div>
        <h3>Create a Profile: <a href "/profile_form"></a></h3>

        {{!-- <div class="form-group row">
        <label for="password-signup" class="col-form-label">Password</label>
    </div>    
    <div class="col-sm-8">
        <input type="password" class="form-control" id="password-signup" placeholder="Password">
    </div> --}}
        
        <form class="form new-profile-form">
            <div class = "form-profile row">
                <label for="user-name" class="col-form-label">What would you like to be called?</label>
            </div>
            <div class="col-sm-8">    
                <input="name-input" type="text" id="user-name" name="user-name" placeholder="Name"></input>
            </div>
            <div class = "form-profile row">
                <label for="user-language">What languages do you know?</label>
            </div>
            <div class="col-sm-8">    
                <input="language-input" type="text" id="user-language" name="user-language" placeholder="JavaScript, Python, etc."></input>
            </div>
            <div class = "form-profile row">
                <label for="user-about">Tell us about yourself.</label>
                </div>
            <div class="col-sm-8">
                <input="about-input" type="text" id="user-about" name="user-about" placeholder="About Me"></input>
            </div>
            <div class = "form-profile row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </div>
</form>


<script src="/js/profile.js"></script>