:root {
  --dark-blue: #1B4079;
  --teal: #4D7C8A;
  --maroon: #B75D69;
  --beige: #DDC9B4;
  --mint-green: #C9E4CA;
  --white: #ffffff;
  --black: #000000;
}

/* font */
.headings-font {
  font-family: 'Roboto', sans-serif;
}

/* font colors */
.font-light {
  color: var(--beige);
}


body {
  background-color: var(--beige); 
}

/* header and footer */
a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: 100px;
}

.margin-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.icon {
  max-width: 65px;
  max-height: 65px;
}

.icon:hover {
  opacity: 70%;
  cursor: pointer;
}

/* we can add a footer later if we need to */
/* footer {
  background-color: var(--dark-blue);
  height: 100px;
} */

/* images */
img {
  max-height: 300px;
  width: 100%;
  object-fit:cover;
}

/* testimonial box */
.text-center {
  margin-top: 25px; 
  margin-bottom: 25px;
  color: var(--dark-blue);
}

.text-center:hover {
  color: var(--maroon);
  cursor: pointer;
}

p.text-width {
  margin: 25px;
}

.card {
  margin-top: 25px;
  text-align: center;
  background-color: var(--mint-green);
  color: var(--dark-blue);
  border-radius: 20px;
}