:root {
  --dark-blue: #1B4079;
  --teal: #4D7C8A;
  --maroon: #B75D69;
  --beige: #DDC9B4;
  --mint-green: #C9E4CA;
  --white: #ffffff;
  --black: #000000;
}

/* font colors */
.beige {
  color: var(--beige);
}

.maroon {
  color: var(--maroon);
}

.mint-green {
  color: var(--mint-green);
}

body {
  background-color: var(--beige); 
  font-family: 'Roboto', sans-serif;
}

/* header and footer */
a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: 100px;
}

.nav-links {
  font-size: 20px;
  color: var(--mint-green);
  margin: 20px;
}

.nav-links:hover {
  color: var(--beige);
}

.margin-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.icon {
  max-width: 65px;
  max-height: 65px;
}

.icon:hover {
  opacity: 70%;
  cursor: pointer;
}


/* carousel */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#quote {
  height: 215px;
}

#testimonial-card {
  height: 205px;
}

.bottom {
  margin-top: -15px;
  font-weight: bold;
}

/* we can add a footer later if we need to */
/* footer {
  background-color: var(--dark-blue);
  height: 100px;
} */

/* images */
section .hero-image {
  width: 100%;
  object-fit: cover;  
  opacity: 90%;
}

/* call-to-action text */
.action {
  text-shadow: 2px 1px 5px gray;
}

.action:hover {
  opacity: 75%;
  color: var(--maroon);
}


/* testimonial box */
.text-center {
  margin-top: 25px; 
  margin-bottom: 25px;
  color: var(--dark-blue);
}

p.text-width {
  margin: 25px;
  width: 300px;
  margin-left: 85px;
}

.card {
  margin-top: 25px;
  text-align: center;
  background-color: var(--mint-green);
  color: var(--dark-blue);
  border-radius: 20px;
}

/* sign up form */
form {
  margin-top: 30px;
  background-color: var(--mint-green);
  width: 50%;
  border-radius: 20px;
}

div.form-container {
  margin-left: 50px;
  width: 100%;
}

/* sign up and login buttons */
.button {
  background-color: var(--dark-blue);
  color: var(--beige);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 2px 2px 5px grey;
}

.button:hover {
  background-color: var(--maroon);
  color: var(--beige);
}

.user-type {
  margin-top: 25px;
}

/* dashboard buttons */
.blue-button {
  background-color: var(--dark-blue);
  color: var(--beige);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  box-shadow: 2px 2px 5px grey;
}

.maroon-button {
  background-color: var(--maroon);
  color: var(--beige);
  width: 70%;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-button:hover {
  background-color: var(--dark-blue);
  color: var(--beige);
  opacity: 90%;
}

.maroon-button:hover {
  background-color: var(--maroon);
  color: var(--beige);
  opacity: 90%;
}

/* other dashboard features */
.dashboard-container {
  background-color: var(--dark-blue);
  border-radius: 20px;
  display: flex;
  position: relative;
}

.card-mentor {
  margin-top: 25px;
  text-align: left;
  background-color: var(--mint-green);
  color: var(--dark-blue);
  border-radius: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.lang {
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.center-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.card-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* responsive hamburger button*/
.hamburger {
  position: absolute;
  top: 25px;
  right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between; 
  width: 40px; 
}

.log-hamburger {
  display: none;
}

/* CHAT */
.chat-container {
  background-color: var(--mint-green);
  height: 75vh;
  width: 75%;
  margin-top: 10px;
  border-radius: 22px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.chatform { 
  background: rgba(28, 59, 114, 0.15); 
  padding: 0.25rem; 
  width: 100%;
  display: flex;
  max-height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px);
}

.chatinput { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
  background-color: #faf1e7; 
  color: var(--dark-blue);
  autocomplete: off;
}

.chatinput:focus { 
  outline: none; 
  background-color: #fcf9f5; 
}

.chatform > button { 
  background-color: var(--dark-blue);
  color: var(--beige);
  padding: 0 1rem; 
  width: 15%;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  margin-top: 0px;
}

#message-container {
  width: 100%;
}

#message-container div {
  display: flex;
  justify-content: center;
  padding: 8px 18px;
  margin-top: 1%;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 25px;
  width: 40%;
}

.message-div {
  margin-left: 2%;
  background-color: var(--dark-blue);
  color: white;
}

.mymessage-div {
  margin-left: 58%;
  margin-right: 2%;
  background-color: #fff3e6;
  color: var(--dark-blue);  
}

.user-join-div {
  margin-left: 33%;
  background-color: var(--teal);
  color: #fff3e6;  
}


@media screen and (max-width: 810px) {  
  
  h1 {
    margin-bottom: 0;
    margin-top: 10px;
  }

  nav {
    flex-direction: column;
    height: 138px;
    justify-content: space-evenly;
  }

  div.hamburger {
    display: flex;
  }

  .hamburger:hover {
    cursor: pointer;
    opacity: 80%;
  }

  img.icon.margin-50 {
    display: none;
  }

  .log-hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex; 
    flex-direction: row;
    color: var(--mint-green);
    font-weight: bold;
    margin-top: 0;
  }

  .nav-links.active:hover {
    color: var(--beige);
  }

  .dashboard {
    display: none;
  }

  .dashboard.active {
    display: flex; 
    flex-direction: row;
  }

  .log-hamburger {
    display: none;
  }

  .log-hamburger.active {
    display: flex; 
    flex-direction: row;
  }

  .overlay {
    border-radius: 15px;
    display: flex; 
    flex-direction: row;
  }

  .chatform > button { 
    width: 30%;
  }
}

@media screen and (max-width: 600px){
  #message-container div {
    width: 75%;
  }

  .mymessage-div {
    margin-left: 23%; 
  }

  .user-join-div {
    margin-left: 10%; 
  }

  .chatform > button { 
    width: 25%;
  }
  
  .chatinput { 
    width:75%
  }
}